body{
    margin:20px;
}

label{
    display:inline-block;
    width: 100px;
    color: navy;
}

input{
    width: 160px;
}

table, td, th {
    border: 1px solid;
    height: 30px;
    background-color: lightyellow;
  }
  
  table {
    margin-left: auto; 
    margin-right: auto;
    width: 70%;
    border-collapse: collapse;
    table-layout: inherit;
    background: red;
    position: relative;
    animation: mymove 3s;
   
    
  }

  @keyframes mymove {
    from {top: 200px;}
    to {top: 0px; background-color: blue;}
  }

  

  h1,h2,h3{
    color: lavenderblush;
  }
h3#wash{
    color: darkred;
}
  

  form.admin{
 
    background:red;
    position: relative;
    animation: mymove 1s;
    animation-fill-mode: both;
  }

  
  div.admin{
    background-color: blue;
    
  }

  button.admin{
    margin: 10%;
    transform: translateX(0%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: aquamarine;
    cursor: pointer;
    font-size: 16px;
 
    color: navy;
    border-radius: 4px;
    transition: .3s;
  }
  
  button:hover{
    opacity: .7;
  }

  input#wash{
    background-color: aquamarine;
    align-items: center;
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  input#wash:hover{
    background-color: lightgreen;
    color:brown;
    font-style: bold;
    font-size: medium;
  }

