body{
    margin:20px;
}

label{
    display:inline-block;
    width: 100px;
    color: navy;
}

input{
    width: 160px;
}

table, td, th {
    border: 1px solid;
    height: 30px;
    background-color: lightyellow;
  }
  
  table {
    margin-left: auto; 
    margin-right: auto;
    width: 70%;
    border-collapse: collapse;
    table-layout: inherit;
    background: red;
    position: relative;
    animation: mymove 3s;
   
    
  }

  @keyframes mymove {
    from {top: 200px;}
    to {top: 0px; background-color:  rgb(25, 237, 245);}
  }

  

  h1,h2,h3{
    color: rgb(8, 53, 0);
  }
h3#wash{
    color: darkred;
}
  

  form.admin{
 
    background:rgb(0, 255, 145);
    position: relative;
    animation: mymove 1s;
    animation-fill-mode: both;
  }

  
  div.admin{
    background-color: rgb(25, 237, 245);
    
  }

  button.admin{
    margin: 10%;
    transform: translateX(0%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: aquamarine;
    cursor: pointer;
    font-size: 16px;
 
    color: navy;
    border-radius: 4px;
    transition: .3s;
  }
  
  button:hover{
    opacity: .7;
  }

  input#wash{
    background-color: aquamarine;
    align-items: center;
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  input#wash:hover{
    background-color: lightgreen;
    color:brown;
    font-style: bold;
    font-size: medium;
  }



  /* animation */

  .laundry-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #b6d4fe;
  }
  
  .bubble {
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
  }
  
  .bubble1 {
    top: 10%;
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .bubble2 {
    top: 20%;
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
  }
  
  .bubble3 {
    top: 30%;
    left: 30%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
  }
  
  .bubble4 {
    top: 40%;
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
  }
  
  .bubble5 {
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    animation-delay: 4s;
  }
  
  .bubble6 {
    top: 60%;
    left: 60%;
    width: 40px;
    height: 40px;
    animation-delay: 5s;
  }
  
  .bubble7 {
    top: 70%;
    left: 70%;
    width: 80px;
    height: 80px;
    animation-delay: 6s;
  }
  
  .bubble8 {
    top: 80%;
    left: 80%;
    width: 20px;
    height: 20px;
    animation-delay: 7s;
  }
  
  .bubble9 {
    top: 90%;
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 8s;
  }
  
  .bubble10 {
    top: 80%;
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 9s;
  }
  
  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  

